.images{
    display: flex;
    position: relative;
    justify-items: center;
    justify-content: center;
    align-items: center;
    z-index: 1.5;
}
.heading{
    color:#580796;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: 10vh;
    overflow-x: hidden;
    margin-top: 0px;
    font: bold;
    font-size: larger;
    opacity: 1.5;
    background-image: linear-gradient(to bottom right, rgb(43, 251, 247), rgb(55, 246, 112));
    border-radius: 0.5vh;
}
.intromacroeco{
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100vw;
}
/* .bimg{
    display: flex;
    position: fixed;
    height: 120vh;
    width: 100vw;
    opacity: 0.3;
}
.bimg img{
    height: 120vh;
    width: 100vw;
} */
.subh{
    color: #f1c423;
    padding-left: 3%;
    font-size: larger;
    max-width: 80%;
    opacity: 1.5;
}
.cont{
    color: black;
  font-size: 3vh;
  text-align: justify;
  padding-left: 5vw;
  padding-right: 5vw;
  opacity: 1.5;
  z-index: 1;
}
/* .intromacroeco::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
} */


@media only screen and (max-width: 1200px){
    .images img{
        width: 100%;
        max-width: 1150px;
        height: auto;
    }
}