/* *{
    background-color: black;
    
} */
.heading{
    color:white;
    background-color: black;
    padding-left: 2%;
    margin-top: 0px;
    font: bold;
    font-size: larger;
    max-width: 100%;
    padding-left: 0.6%;
}
.Elementry-childs{
    background-color:black;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.subh{
    color: #FBD757;
    padding-left: 0.5%;
    font-size: larger;
    max-width: 80%;

}
.Intrest-p-s{
    color: rgb(221, 84, 84) ;
}
.cont{
    color: aliceblue;
  padding-left: 50px;
  padding-right: 100px;
  font-size: larger;
  text-align: justify;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: 2px solid red;
}
.images-cf{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px){
    
}