.marquee-div{
    height: 30px;
    width: 95vw;
    overflow: hidden;
}
.marquee-ul{
    display:flex;
    width: 95vw;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    animation: flow 20s forwards infinite ease-in-out;
}
.marquee-li-info{
    display: flex;
    height: 30px;
    width: 200px;
    flex-shrink: 0;
    color: aliceblue;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
@keyframes flow{
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(-1800px);
    }
}