.Nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    height: 50px;
}
.Nav-child1{
    display: flex;
    margin-left: 3vw;
    width: 150px;
    justify-content: space-between;
}
.Nav-child2{
    display: flex;
    margin-right: 4vw;
    width: 120px;
    justify-content: space-between;
    font-size: 25px;

}
.Nav-child3{
    display: flex;
    padding: 5px;
}
.Nav-input{
    display: flex;
    width: 40vw;
    height: 30px;
    border-radius: 15px;
    background-color: #8F9A9C;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    border: solid 0 #8F9A9C;
}
.Nav-searchicon{
    position: absolute;
    margin-left: 1.5vw;
    margin-top: 0.8vh;

}
.Nav-downicon{
    font-size: 25px;
}
.Nav-info{
    font-size: 20px;
    font-weight: 900;
}
.Nav-bar{
    display: none;
}
@media only screen and (max-width: 720px){
    .Nav-input{
        width: 70vw;
    }
    .nav-search-data{
        width: 70vw;
    }
    .Nav-child1{
        display: none;
    }
    .Nav-child2{
        display: none;
    }
    .Nav-bar{
        display: contents;
    }
    .Nav-container{
        justify-content: space-around;
    }
}
.Nav-search-container{
    display: flex;
    flex-direction:column;
    width: 40vw;
    height: auto;

}
.nav-search-data{
    display: flex;
    flex-direction: column;
    width: 39.5vw;
    height: auto;
    align-items: center;
    background-color: #a2e8f4;
    position: absolute;
    top:55px;
    border-radius: 15px;
    margin-left: 7px;
}
.search-p{
    color: black;
    text-align: center;
    display: flex;
}
.nav-search-none{
    display: none;
}